<% layout("/layouts/boilerplate")%>
<body>
    <br>
    <div class="row">
        <div class="col-10 offset-1">
    <h3>Edit Your Listing</h3>
    <form method="POST" action="/casarentals/<%= listing._id %>?_method=PUT" novalidate class="needs-validation"
        enctype="multipart/form-data">

        <div class="mb-2">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" value="<%= listing.title %>"  type="text" class="form-control" required>
            <div class="valid-feedback">
                Title looks good!
              </div>
        </div>
        <div class="mb-2">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
            <div class="invalid-feedback">Please enter a short description</div>
        </div>
        <div class="mb-2">
            Original Listing Image <br>
            <img src="<%=originalImageUrl%>" alt="">
        </div>
        <div class="mb-2">
            <label for="image" class="form-label">Upload New Image</label>
            <input name="listing[image]"  type="file" class="form-control">
        </div>
        

        <div class="row">
            <div class="mb-2 col-md-6">
                <label for="image" class="form-label">Upload New Image</label>
            <input name="listing[image]"  type="file" class="form-control">
            </div>
            <div class="mb-2 col-md-6">
                <label for="category" class="form-label">Select Your Villa Type</label>
                <select class="form-select" name="listing[category]" aria-label="Default select example">
                    <option selected><%= listing.category %></option>
                    <option value="Room">Room</option>
                    <option value="Iconic City">Iconic City</option>
                    <option value="Mountain">Mountain</option>
                    <option value="Castles">Castles</option>
                    <option value="Pools">Pools</option>
                    <option value="Camping">Camping</option>
                    <option value="Forest">Forest</option>
                    <option value="Farms">Farms</option>
                    <option value="Arctic">Arctic</option>
                    <option value="Domes">Domes</option>
                    <option value="Sea Beach">Sea Beach</option>
                </select>
            </div>        
            </div>





        <div class="row">
            <div class="mb-2 col-md-4">
                <label for="price" class="form-label">Price &#8377;/night</label>
                <input name="listing[price]" value="<%= listing.price %>" type="text" class="form-control" required>
                <div class="invalid-feedback">Price should be valid
                  </div>
            </div>
            <div class="mb-2 col-md-4">
                <label for="country" class="form-label">Country</label>
                <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control" required>
                <div class="invalid-feedback">Country name should be valid
                  </div>
            </div>
            <div class="mb-2 col-md-4">
                <label for="category" class="form-label">Booking</label>
                <select class="form-select" name="listing[booking]" aria-label="Default select example">
                    <option selected><%= listing.booking %></option>
                    <% if(listing.booking ==="On"){ %>
                    <option value="Off">Off</option>
                    <% } else { %>
                        <option value="On">On</option>
                        <% } %>
                </select>
            </div>   
        </div>
          
        <div class="row">
            <div class="mb-2 col-md-5">
                <label for="location" class="form-label">Location</label>
                <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" required>
                <div class="invalid-feedback">
                    Location should be valid
                  </div>
            </div>
            <div class="mb-2 col-md-7">
                <label for="contactinfo" class="form-label">Contact Number</label>
                <input name="listing[contactinfo]" value="<%= listing.contactinfo %>" type="text" class="form-control" required>
                <div class="invalid-feedback">
                    Contact Number should be valid
                  </div>
            </div>
        </div>
        <br>  
        <button type="submit" class="btn btn-dark edit-btn">Edit</button>
    </form>
</div>  
</div>  
</body>
</html>
